<!DOCTYPE html>
<html>
<head>

 <link href="/stylesheets/styling.css" rel="stylesheet">

<link href="favicon.ico" rel="icon">


<title>

Sign In | LinkedIn
</title>



</head>

<body id="scrn_3_main_body">
  

  <div id="header_back">
    <div id="header">
       <a href="screen1.html"><span id="logo"></span></a>

      <ul id="header_link">
        

            <li >

        <a href="screen3.html" value="">What is LinkedIn?</a>

        </li>

          

            <li>
      
              <a href="Screen-4.html" value="">Join Today</a>

          </li>
      

            <li>
      
      
                <a href="sign-in.html" value="">Sign In</a>

        </li>

      </ul>
      
    </div>
  </div>

<div class="signin">
<h1>Sign in to LinkedIn</h1>
<div id="sing_in_content_body">
    
  <form>
        <label class="labels">Email address:</label>
        <input class="singin_input_field" type="text" value="" name=""></br>
    <label class="labels">Password:</label>
         <input class="singin_input_field"  type="password" value="" name="">

         <a href="pass.html">Forgot password?</a>

         <div class="singin_btn">
    <input id="singin_btn" type="submit" value="Sign in">

<span >&nbsp;or <a href="Screen-4.html">Join LinkedIn</a></span>

</div>

  </form>








</div>

</div>

<div id="footer">
  
          


        

      <a id="footer_pic" ref="" > <span >LinkedIn Corporation</span>&copy; 2013</a><em>|</em>
            <p id="footer_pic_text"> &copy; 2013</p>

        

          <a  href="userag.html">User Agreement</a><em>|</em>

        


              
          <a href="" >Privacy Policy</a><em>|</em>


  
        


          <a href="" >Community Guidelines</a><em>|</em>


  



          <a href="" >Cookie Policy</a><em>|</em>

        


          <a href="" >Copyright Policy</a>

    


  


</div>




</body>








</html>













