<!DOCTYPE html>
<html>
<head>

    <link href="/stylesheets/styling.css" rel="stylesheet">
   <link href="favicon.ico" rel="icon">


   <title>

    Password Change | LinkedIn
</title>



</head>

<body id="main_body">
  
  <div id="header_back">
    <div id="header">
       <a href="screen1.html"><span id="logo"></span></a>

       <ul id="header_link">
          

        <li >

          <a href="screen3.html" value="">What is LinkedIn?</a>

      </li>

      

      <li>
       
         <a href="Screen-4.html" value="">Join Today</a>

     </li>
     

     <li>
       
       
      <a href="sign-in.html" value="">Sign In</a>

  </li>

</ul>

</div>
</div>



<div id="pswd_content_body">
    <h4>Changinng your password is simple</h4>
    <p>Please enter your email address to get instructions.</p>
  <!--   <form>
      <input id="textfield" type="text" value="" name=""><br/>
      <input id="pswd_btn" type="submit" value="Continue">
  </form>
 -->
<%= devise_error_messages! %>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    
        
        
          <%= f.email_field :email %>
        
          <%= f.submit "Continue", :id=>"pswd_btn"  %>
    
    <% end %>



</div>



<div id="footer">
  
   


    

 <a id="footer_pic" ref="" > <span >LinkedIn Corporation</span>&copy; 2013</a><em>|</em>
 <p id="footer_pic_text"> &copy; 2013</p>

 

 <a  href="userag.html">User Agreement</a><em>|</em>

 


 
 <a href="" >Privacy Policy</a><em>|</em>


 
 


 <a href="" >Community Guidelines</a><em>|</em>


 



 <a href="" >Cookie Policy</a><em>|</em>

 


 <a href="" >Copyright Policy</a>

 


 


</div>




</body>








</html>













