


<div id="main_body">

	<div id="screen_1_inside_body">

		<div id="scrn_1_first_block">

			<h>Over 225 million professionals use LinkedIn to<br> exchange information, ideas and opportunities</h><br>

			<img  src="../images/1-1.png" >
			<p5>
				Stay informed about your contacts and industry<br><br><br>
				<p6> Find the people & knowledge you need to achieve your goals<br><br><br><p6>
					Control your professional identity online
				</p5>
				



			</div>


			<div id="scrn_1_second_block">
				
				<div id="scrn_1_blue_top">
					<p2>Join LinkedIn Today</p2>
				</div>

				<div id="scrn_1_input_fields">
					<form>

						<label >First Name:</label>
						<input  type="text" value="" name=""></br>

						<label >Last Name:</label>
						<input  type="text" value="" name=""></br>

						<label >Email:</label>
						<input  type="text" value="" name=""></br>

						<label >Password:</label>
						<input  type="password" value="" name="">

					</form>
				</div>

				<p id="scrn_1_more_6_characters">6 or more characters</p>


				<input type="submit" value=""  id="scrn_1_btn">


				<strong>
					*
				</strong>

				<p id="more_6_characters2">Already on Linkedin?<a href="sign-in.html" title=""  class="hrefs"> Sign In</a> </p>


			</div>


			<div id="scrn_1_below_block">
				<p3>Search for someone by name : </p3>
				<input  type="text" value="" name="" placeholder="First Name" style="width:156px">
				&nbsp;&nbsp;
				<input  type="text" value="" name="" placeholder="Last Name"  style="width:156px">

				<input type="submit" value=""  id="scrn_1_btn2">

				<div id="browse_members">








					<ul id="horizontal-list">



						<li>LinkedIn member directory:
						</li>
						<li>
							<a href="http://www.linkedin.com/directory/people-a">a</a>
						</li>
						<li>
							<a href="http://www.linkedin.com/directory/people-b">b</a>
						</li><li>
						<a href="http://www.linkedin.com/directory/people-c">c</a>
					</li><li>
					<a href="http://www.linkedin.com/directory/people-d">d</a>
				</li><li>
				<a href="http://www.linkedin.com/directory/people-e">e</a>
			</li><li>
			<a href="http://www.linkedin.com/directory/people-f">f</a>
		</li><li>
		<a href="http://www.linkedin.com/directory/people-g">g</a>
	</li><li>
	<a href="http://www.linkedin.com/directory/people-h">h</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-i">i</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-j">j</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-k">k</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-l">l</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-m">m</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-n">n</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-o">o</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-p">p</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-q">q</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-r">r</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-s">s</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-t">t</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-u">u</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-v">v</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-w">w</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-x">x</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-y">y</a>
</li><li>
<a href="http://www.linkedin.com/directory/people-z">z</a>
</li>
<li>
	<a href="http://www.linkedin.com/directory/people-a">more</a>
</li>

</ul>				

<p>
	Browse members <a href="../coutry/coutry_list.html">by country</a>
</p>

</div>

</div>


<div style="font-size:12px;">

	<p id="more_6_characters3">*By joining LinkedIn, you agree to LinkedIn's  &nbsp;
		<a href="userag.html" User Agreement,</a>
			<a href="http://www.linkedin.com/static?key=user_agreement"> &nbsp; Privacy Policy,</a>
			and 
			<a href="http://www.linkedin.com/static?key=user_agreement">  Cookie Policy.</a></p>

		</div>



		
		



		
		



