
/* password css .................................*/
#main_body{
font-family: Arial,sans-serif;
background-color: rgb(255, 255, 255);
    vertical-align: baseline;

    border-bottom: 0px none;
background-image: none;
border-top: 0px none;

font-size: 100%;
line-height: 1.2;
margin: 0px;
outline: 0px none;
padding: 0px;
text-align: left;
}
em
{
margin-left:3px;
color:#CCC;
}
#header_back{

    background: -moz-linear-gradient(center top , #696969 0%, #3F3F3F 100%);
    background-image:-webkit-linear-gradient(top, #696969 0%,#3F3F3F 100%);
    box-shadow: 0 0 10px #333333;
    height: 42px;

    width: 100%;
position: fixed;
top: 0px;
z-index: 2;

}
#header{


    margin-left: auto;
margin-right: auto;
width: 974px;
position: relative;
}

#header_back a{

font-size: 13px;

color: #D7D7D7;
    text-decoration: none;
    

}

#header_back a:hover{

color: #3399CC;

    text-decoration: none;
    

}
#logo{
    background: url("logo.png") no-repeat scroll left center transparent;
     width: 98px;
     display: block;
float: left;
height: 34px;
margin-top: 3px;
overflow: hidden;
text-align: left;
text-indent: -119988px;
margin-left: 0px;
}
#header_link{
float: right;
list-style: none outside none;
border-bottom: 0px none;

border-top: 0px none;
font-family: inherit;
font-size: 100%;
font-weight: inherit;
margin: 0px;

padding: 0px;
padding-right: 20px;
outline: 0px none;
vertical-align: baseline;
margin-right: 0px;
}
#header_link li{

font-size: 16px;
color: rgb(215, 215, 215);
padding-right: 10px;
padding-left: 10px;
    float: left;
position: relative;
line-height: 13px;
cursor: pointer;
display: block;
padding-bottom: 14px;
padding-top: 13px;

}

#header_link a:active, a:hover {
    outline: 0px none;
}

#pswd_content_body{

    margin-bottom: 20px;
margin-top: 80px;
clear: both;
margin-left: auto;
width: 980px;
margin-right: auto;
color: rgb(0, 0, 0);
}

#pswd_content_body h4{

font-family: inherit;
font-size: 18px;
font-weight: inherit;
margin: 127px 0px 15px;
text-decoration: none;


}
#pswd_content_body p{

font-size: 13.5px;

}
#textfield{

width: 300px;
margin-bottom: 10px;

}
#pswd_btn{
    border-width: 1px;
border-style: solid;
border-radius: 3px 3px 3px 3px;
cursor: pointer;
font-size: 12px;
line-height: 1.35;
margin: 0px;
overflow: visible;
padding: 3px 10px 2px;
text-decoration: none ;
border-color: #045A8B;
    background: -moz-linear-gradient(center top , rgb(115, 174, 201) 0px, rgb(115, 174, 201) 1px, rgb(51, 138, 176) 1px, rgb(5, 113, 166) 100%) repeat scroll 0px 0px transparent;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #73AEC9), color-stop(5%, #73AEC9), color-stop(5%, #338AB0), color-stop(100%, #0571A6)); 
color:white;
font-size: 12px;
width: 77px;
height: 27px;
}
#footer{
text-align: left;
border-top: 1px solid rgb(204, 204, 204);
font-size: 15px;
font-weight: normal;
line-height: 14px;
margin-left: auto;
margin-right: auto;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 0px;
width: 974px;


}



#footer a {
    color: rgb(0, 102, 153);
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
    
    text-decoration: none;
}
#footer a:hover {
    color: rgb(0, 102, 153);

    
    text-decoration: underline;
}

#footer_pic {
    background: url("copyright.png") no-repeat scroll left top transparent;
    float: left;
    height: 16px;
    margin: -2px 3px -2px 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: -119988px;
    width: 42px;
    color: black;
    text-decoration: none;
}
#footer_pic_text{
    margin-top: 0px; 
    float: left;
font-size: 12px;
    color: grey;
    text-decoration: none;
    text-align: left;
    margin-right: 10px;
}

/* Signin css.........................*/
/*#sign_in_main_body{
font-family: Arial,sans-serif;
background-image: url("a.png");
}*/


#sing_in_content_body{
background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);

    font-size: 15px;
background-color: white;

width: 470px;
 border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    padding: 30px 20px;
    list-style: none outside none;

    vertical-align: baseline;

    font-size: 100%;

    display: block;
}

#sing_in_content_body h4{

font-family: inherit;
font-size: 18px;
font-weight: inherit;
margin: 0px 0px 15px;
text-decoration: none;

}
#sing_in_content_body p{

font-size: 13.5px;

}

#singin_btn{
    border-width: 1px;
border-style: solid;
border-radius: 3px 3px 3px 3px;
cursor: pointer;
font-size: 12px;
line-height: 1.35;
margin: 0px;
overflow: visible;
padding: 3px 10px 20px;
text-decoration: none ;
border-color: #045A8B;
background: -moz-linear-gradient(center top , rgb(115, 174, 201) 0px, rgb(115, 174, 201) 1px, rgb(51, 138, 176) 1px, rgb(5, 113, 166) 100%) repeat scroll 0px 0px transparent;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #69A0B6), color-stop(5%, #69A0B6), color-stop(5%, #277696), color-stop(100%, #04608E));
color:white;
font-size: 12px;
width:65px;
}

.signin
{

background-color: transparent;
    margin-left: auto;
margin-right: auto;
width: 974px;
margin-top: 117px;
margin-bottom: 10px;
font-size: 13px;
}

/*.labels
{


     width: 110px;
      color: #333333;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
line-height: 35px;
    padding-right: 8px;
    text-align: right;
}*/

.singin a{
color: rgb(0, 102, 153);
padding-left: 0px;
padding-right: 10px;
padding-top: 10px;
    
    text-decoration: none;

}
.singin a:hover
{
color: rgb(0, 102, 153);

    
    text-decoration: underline;

}

.singin_input_field
{

     margin: 7px 0;
     font-size: 16px;
    width: 220px;
     font-family: Arial,sans-serif;

      
    cursor: text;
    letter-spacing: normal;
    line-height: normal !important;
    padding: 1px 0;
    text-align: start;
    text-indent: 0;
   
}

.singin_btn
{
margin-top: 10px;
    margin-left: 117px;
    width: 410px;
     overflow: hidden;
}

/* useragreement css........................................*/


#agreement_main_body{

background-image: url("a.png");
font-family: Arial,sans-serif;
background-color: white;
text-align: left;
margin-left: auto;
margin-right: auto;
color: black;

}
#agreement_content_body{
color: #000000;
background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    content: "";
    padding:0px;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    display: block;
    width: 980px;
    margin-top: 80px;
margin-right: auto;
margin-left: auto;

overflow: hidden;
}



.brief_copy
{
 color: #333333;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    width: 277px;

}
.full_copy
{

color: #999999;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
float: left;
    margin-left: 40px;
    position: relative;
    width: 564px;


}

.block_heading
{

     float: left;
    margin-right: 41px;
    position: relative;
    width: 892px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    vertical-align: middle;
}

.row
{
clear: both;
    content: " ";
    display: block;
overflow: auto;
  
     border-bottom: 1px solid #EEEEEE;
    padding: 0px;

}

.row_first
{
clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;

    padding-top: 0;
    border-bottom: 1px solid #EEEEEE;

}
.row_last
{

clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    border-bottom: medium none;
    padding-bottom: 10px;
}


#agreement_main_body a{
color: rgb(0, 102, 153);
padding-left: 0px;
padding-right: 10px;
padding-top: 10px;
    
    text-decoration: none;

}
#agreement_main_body a:hover
{
color: rgb(0, 102, 153);

    
    text-decoration: underline;

}



.heading_title
{
    padding-left: 40px;
    clear: both;
color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin: 50px 0 25px;
    vertical-align: middle;
    width:892px;

}
#user_title{


  background-image: url("user.png");
    margin-bottom: -20px;
    height: 205px;
    margin-top: 0;
    position: relative;
    width: 950px;
    padding-left: 60px;
    
    font-weight: normal;
    padding-top: 5px;
}
.text
{
font-size: 13.5px;
font-weight: normal;
text-align: left;
color: black;

}
.text_gray
{
font-size: 11px;
font-weight: normal;
text-align: left;
color: gray;

}
.brief_copy
{
padding-left: 40px;
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    width: 277px;
}
#brief_copy_title
{
color: black;

}

.back-to-top {
    float: left;
    margin-left: 41px;
    padding-bottom: 20px;
    position: relative;
    width: 892px;
}

.back-to-top a {
    float: right;
    font-size: 13px;
}
.back-to-top a span {
    border-color: transparent transparent #0077B5;
    border-style: dashed dashed solid;
    border-width: 0 4px 4px;
    display: inline-block;
    height: 0;
    margin-left: 7px;
    overflow: hidden;
    text-indent: -12345px;
    vertical-align: middle;
    white-space: nowrap;
    width: 0;
}
.full_copy li
{

    line-height: 25px;
}

.empty_brief 
{


    color: #999999;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    float: left;
    margin-left: 360px;
    position: relative;
    width: 564px;
}
.empty_brief li
{


line-height: 25px;
}
.as
{

    border-bottom :1px solid rgb(189, 189, 189);
}

.lang_list
{
background: none repeat scroll 0 0 #FFFFFF;
    bottom: 1.2em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    display: none;
    left: 3px;
    min-width: 75px;
    padding: 5px;
    position: absolute;
    width: auto;
    list-style: none outside none;
}
em
{
margin-left:-3px;
color:#CCC;
}
/* country css...................*/

#country_content_body{

clear: both;
    content: "";
    display: table;
    margin-bottom: 10px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;

    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0 none;
 
   
    vertical-align: baseline;

}
#country_content_body li{
color: color: rgb(0, 102, 153);
float: left;
    font-size: 13px;
    margin: 0 0 10px 1.2em;
    margin-left: 0px;
    width: 43%;
    border: 0 none;
    font-family: inherit;
    font-style: inherit;
    font-weight:inherit;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;

     display: list-item;

}



#country_content_body a{
color: #006699;

    
    text-decoration: none;

}
#country_content_body a:hover
{
color: rgb(0, 102, 153);

    
    text-decoration: underline;

}
#country_content_body ul
{


    list-style-type: disc;
    margin: 0 0 20px;
    overflow: hidden;
        display: block;
        padding-left: 15px ;
}
/* screen3 css............*/
#header_back{

   background: -moz-linear-gradient(center top , #696969 0%, #3F3F3F 100%);
background-image:-webkit-linear-gradient(top, #696969 0%,#3F3F3F 100%);
    
    box-shadow: 0 0 10px #333333;
    height: 42px;

    width: 100%;
position: fixed;
top: 0px;
z-index: 2;

}



#header{


    margin-left: auto;
margin-right: auto;
width: 974px;
position: relative;
}


#header_back a{

font-size: 13px;

color: #D7D7D7;
    text-decoration: none;
    

}

#header_back a:hover{

color: #3399CC;

    text-decoration: none;
    

}
#logo{
    background: url("logo.png") no-repeat scroll left center transparent;
     width: 98px;
     display: block;
float: left;
height: 34px;
margin-top: 3px;
overflow: hidden;
text-align: left;
text-indent: -119988px;
margin-left: 0px;

}
#header_link{
float: right;
list-style: none outside none;
border-bottom: 0px none;

border-top: 0px none;
font-family: inherit;
font-size: 100%;
font-weight: inherit;
margin: 0px;
padding: 0px;
padding-right: 20px;
outline: 0px none;
vertical-align: baseline;
margin-right: 0px;
}
#header_link li{

font-size: 16px;
color: rgb(215, 215, 215);
padding-right: 10px;
padding-left: 10px;
    float: left;
position: relative;
line-height: 13px;
cursor: pointer;
display: block;
padding-bottom: 14px;
padding-top: 13px;

}

#header_link a:active, a:hover {
    outline: 0px none;
}













#long_footer{
text-align: left;
border-top: 1px solid rgb(204, 204, 204);
margin-top: 10px;
line-height: 14px;
margin-left: auto;
margin-right: auto;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 0px;
width: 974px;


}
.long_footer_bar{

clear: both;
    content: "";
    display: table;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    border: 0 none;
    font-family: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

}


.long_footer_bar 
{
    color: rgb(0, 102, 153);
padding-left: 0px;
padding-right: 10px;
padding-top: 10px;
    font-size: 13.5px;
    text-decoration: none;
}
.long_footer_bar a{
    color: rgb(0, 102, 153);

   
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-decoration: none;
}
.long_footer_bar a:hover {
    color: rgb(0, 102, 153);

    

}

#long_footer_pic {
    background: url("copyright.png") no-repeat scroll left top transparent;
    float: left;
    height: 16px;
    margin: -2px 3px -2px 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: -119988px;
    width: 62px;
    color: black;
    text-decoration: none;
}
#long_footer_pic_text{
    margin-top: 0px; 
    float: left;
font-size: 12px;
margin-right: 10px;
    color: grey;
    text-decoration: none;
    text-align: left;
}
#upperbar{

font-size: 13.5px;
font-weight: normal;

}


/*a:hover 
{
    color:#2e8dd7;
}*/

.font
{
    margin-top:20px;
font-family: Arial,sans-serif;
font-size: 13px;
font-weight: normal;

}

.font2
{
    
font-size: 16px;
font-weight: bold;
color: #000;
margin-left: 366px;
float: left;
display: table;
line-height: 10px;
}

#scrn_3_main_body
{
    background:url("a.png") repeat scroll 0 0 #E9E9E9; 

font-family: Arial,sans-serif;
background-color: #e6e6e6;
text-align: left;
margin-left: auto;
margin-right: auto;

}

#inside_body
{
border:1px solid #a1a1a1;
border-radius:1px;
background:white;
margin-left: auto;
width:980px;
margin-right: auto;
height:572px;
padding-top: 50px;
padding-bottom: 50px;
margin-top:80px;
}



#head_text
{

border-radius:1px;
margin-left:176px;
width:628px;
height:12px;
margin-top: 10px;

font-size: 28px;
font-weight: bold;
line-height: 30px;
color: black;
padding-top: 0px;
padding-bottom: 50px;
text-align: center;


}


#first_block
{
font-size: 18px;
font-weight: bold;
line-height: 22px;
color: #000;



border-radius:1px;
font-weight: bold;

width:271px;
height:370px;
margin-top: 40px;
margin-left: 81px;
text-align: center;
}


#second_block
{
font-size: 18px;
font-weight: bold;
line-height: 22px;
color: #000;


border-left: 1px solid #a1a1a1;
border-right: 1px solid #a1a1a1;
border-radius:1px;


width:271px;
height:370px;
text-align: center;

margin-top: -369px;
margin-left: 352px;

}



#third_block
{
font-size: 18px;
font-weight: bold;
line-height: 22px;
color: #000;

border-left: 

border-radius:1px;


width:271px;
height:370px;
text-align: center;

margin-top: -369px;
margin-left: 628px;

}



#below_block
{

border-radius:1px;


width:976px;
height:100px;
margin-left: 1px;
padding-top:56px;
}



    
 #horizontal-list li
  {
        display: inline;
        text-decoration: none;
        
 }
#first
{
    width:209px;
    height:185px;
    background-image: url(first.png);
    margin-left: 28px;
    margin-top: 48px;
    

}

#second
{
    width:209px;
    height:185px;
    background-image: url(second.png);
    margin-left: 28px;
    margin-top: 48px;
    

}

#third
{
    width:209px;
    height:185px;
    background-image: url(third.png);
    margin-left: 28px;
    margin-top: 48px;
    

}




#scrn_3_btn
{
margin-left:480px;
margin-top: -26px;
width:101px; 
border:none;
height:34px; 
background-image: url(join-now.png);
cursor: pointer;
}



a
{
    text-decoration: none;
     color:#D7D7D7;

}


#hr_line
{
margin-top: 45px;
width:72%;
margin-top: 10px;
}
em
{
margin-left:-3px;
color:#CCC;
}
/* screen1 css....................*/
/*#upperbar{

font-size: 13.5px;
font-weight: normal;

}
*/
a:hover {text-decoration:underline;} 
/*#main_body
{
font-family: Arial,sans-serif;
background-color: white;
text-align: left;
margin-left: auto;
margin-right: auto;
color: black;

}  screen1 main body*/


#top{

font-size: 13px;
font-weight: normal;
line-height: 14px;
margin-left: auto;
margin-right:auto; 
margin-top: 0px;


width: 1363px;
height: 40px;



background-image: url(footer-image.png);
}

#scrn_1_first_block h
{

font-size:0.5cm;
color: 
#39C;
text-align: left;
font-weight: bold;
line-height: 1.55;
}

#scrn_1_first_block
{



margin-top: -1px;
width:435px;
height: 200px;


}


#scrn_1_second_block
{

margin-top: -206px;
margin-left:640px;
width:320px;
height:270px;
border:solid #ddd;
border-width: 1px;

border-radius: 10px;

}



#screen_1_inside_body
{
/*border:1px solid #a1a1a1;*/
border-radius:1px;
background:white;
margin-left: auto;
width:980px;
margin-right: auto;
height:574px;
padding-top: 29px;
padding-bottom: 50px;
padding-left: 20px;
margin-top: 57px;
}

#scrn_1_below_block
{

padding-top: 20px;

border-bottom:1px solid #CCC; 
border-top:1px solid #CCC; 

width:960px;
height:100px;
margin-top: 47px;


}


#screen1_footer
{

border-bottom:1px solid #CCC; 
border-top:1px solid #CCC; 

width:960px;
height:104px;
margin-top: 30px;

}

p5
{
color:#666;
font-size:0.35cm;
position:relative;

top: -97px;
}
p6
{
margin-left:75px;

}

img
{
margin-top:12px;


}

#scrn_1_blue_top
{

background-image: url(blue-back.png);
width:320px;
height:26px;


border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}


#scrn_1_input_fields
{
    text-align:left;
    margin-top:10px;
    width: 400px;








    margin-left:-5px;

}
#screen_1_inside_body a{
    text-decoration: none; 
color: #069;
font-size:13px;
}
#screen_1_inside_body a:hover{


text-decoration:underline;
}



/* label
{

    margin-left: -33px;
    width: 110px;
    color: #333333;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 34px;
    padding-right: 2px;
    text-align: right;

}*/

#pipe
{
    color: grey;
}

#help_height
{
    font-weight: bold;
line-height: 18px;
width: 85px;
}


input
{

     margin: 7px 0;
     font-size:14px;
    width:175px;
    height: 21px;
     font-family: Arial,sans-serif;

      
    cursor: text;
    letter-spacing: normal;
    line-height: normal !important;
    padding: 0px 0;
    text-align: start;
    text-indent: 0;
   
}


#scrn_1_more_6_characters
{

margin-left:124px;
margin-top: -16px;
font-size:11px;
color:#666;

}

#directory
{

text-align: center;
margin-left:124px;
margin-top: 8px;
font-size:11px;
color:#666;

}


#more_6_characters2
{

margin-left:124px;
margin-top: -1px;
font-size:11px;
color:#666;

}


#more_6_characters3
{


padding-top: 25px;
padding-left: 20px;
font-size:12px;
color:#666;

}


#scrn_1_btn
{
margin-left:124px;
width:73px; 
border:none;
height:24px; 
background-image: url(join-nw.png);
cursor: pointer;

border-top-right-radius: 2px;
border-top-left-radius: 2px;
border-bottom-right-radius:2px;
border-bottom-left-radius:2px;

}

#scrn_1_btn2
{
margin-left:14px;
top: -2px;
width:38px; 
border:none;
height:22px; 
cursor: pointer;
background-image: url(go.png);

}


#sing_in_content_body a{
text-decoration: none; 
color: #069;
font-size:13px;


}


p2
{

margin-left: 13px;
font-size:16px;
color: white;
font-weight: bold;
line-height: 25px;
}

p3
{
margin-left:181px;
display: inline;
color: 
#666;
font-size:16px;
font-weight: bold;

}


 #horizontal-list li
    {
        display: inline;
        text-decoration: none;
    }


 #browse_members
 {

border-bottom: 0;
margin: 15px 0 20px;
padding-bottom: 0;
text-align: center;
font-size: 11px;
color: #666;
 }
   em
   {
   margin-left:-3px;
   color:#CCC;
   }


/* screen4 css...............*/

@font-face {
  font-family: 'LazyDogRegular';
  src: 
       url('lazy_dog.ttf')  format('truetype');
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
}


.handwritten{font-style:italic}.handwritten{font-family:LazyDogRegular,sans-serif}.os-win .handwritten{font-family:LazyDogRegular,Arial,sans-serif}.os-mac .handwritten{font-family:LazyDogRegular,Helvetica,Arial,sans-serif}.os-linux .handwritten{font-family:LazyDogRegular,Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif}

#star
{
    font-family: arial;
}

#sing_in_content_body a:hover {text-decoration:underline;}   /* mouse over link */
#scrn_4_main_body{
    font-family: Arial,sans-serif;
background-color: #e6e6e6;
}
#scrn_4_header{


    margin-left: auto;
margin-right: auto;
width: 805px;
position: relative;
}



#scrn_4_inside_body{
border:1px solid #a1a1a1;
border-radius:1px;
background:white;
margin-bottom: 20px;
margin-top: 0px;
clear: both;
margin-left: auto;
width:805px;
margin-right: auto;
color: rgb(0, 0, 0);
height:419px;
}

#blue_top
{

background-image: url(blue_top.png);
width:770px;
border-radius:10px;
height:55px;
margin-left:17px;
margin-top:16px;
position: relative;

z-index: 100;

}

#head_in_blue
{
padding-top: 18px;
padding-left: 18px;
font-size: 18px;
color: white;
text-align: top;

}

#input_fields
{
    text-align:right;
    margin-top:20px;
    width: 400px;
    margin-left:19px;

}

.scrn_4_input_field
{

     margin: 7px 0;
     font-size:14px;
    width: 280px;
     font-family: Arial,sans-serif;

      
    cursor: text;
    letter-spacing: normal;
    line-height: normal !important;
    padding: 1px 0;
    text-align: start;
    text-indent: 0;
   
}

#more_6_characters
{
margin-left:142px;
font-size:13px;
color:#666;

}

#more_6_characters1
{
margin-left:142px;
font-size:13px;
color:#666;
    line-height: 0px;
margin-bottom: 20px;
}


#more_6_characters_top
{

float: right;
margin-top:-21px;
font-size:12px;
color:#666;

}


#copy_right
{

margin-top: 35px;
font-size:0.31cm;
color:#666;

}



#btn_height
{

margin-top: -100px;

}


label
{


    width: 110px;
    color: #333333;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 32px;
    padding-right: 8px;
    text-align: right;
}


#lazy_text

{
    font-family: LazyDogRegular,Arial,sans-serif;
    text-align:center;
    margin-top:-156px;
    height: 230px;
    width: 330px;
    margin-left:466px;
    font-size: 21px;
    
    border-left:1px solid #CCC;
    border-width: 1px;
}


#scrn_4_btn
{
margin-left:140px;
width:97px; 
border:none;
height:23px; 
margin-top: 2px;
margin-bottom: 4px;
background-image: url(join-btn.png);
cursor: pointer;
}


#scrn_4_btn2
{
width:158px; 
border:none;
height:23px; 
background-image: url(fb-btn.png);
cursor: pointer;
}

#below_line
{
    margin-top: 37px;
    margin-left:11px;
    border-top:1px solid #CCCCCC;
height: 25px;
width: 780px;
}

.hrefs
{
text-decoration: none; 
color: #006699;
font-size:13px;

}
#scrn_4_logo
{

    width: 97;
    height: 31;
    background-image: url(logo-page3.png);
    margin-top: 16px;
    cursor:position;
    cursor:hand;    
    
    
}

#diam
{
background: url("diam.png");
height: 34px;
width: 34px;

margin-top: -18px;
margin-left: 119px;
position:relative;
z-index: 2;
}
